html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* button */

a {
  text-decoration: none;
  padding: .5em;
  border-radius: 8px;
  display: inline-block;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border-width: 3px;
  font-size: 1.125rem;
}

.btn:hover {
  background-color: #000;
}

.btn-small {
  font-size: .875rem;
}
